body {
	background-color: white;
	font: 15px sans-serif;
	color: black;
	max-width: 90%;
	margin: 5% auto;
	border: 2px #aaa solid;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 10px 10px 20px 0px #e8e8e8;
}

@media (min-width: 650px) {
	body {
		width: 550px;
		margin: 50px auto;
	}
}

h1 {
	color: #aaa;
	padding: 10px 30px;
	margin-bottom: 0px;
}

h2 {
	color: #aaa;
}

h3 {
	color: #000;
	font-size: 1em;
	padding-left: 10px !important;
}

h2, h3, p, ul {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

.highlighted {
	color: #a00;
}

ul {
	list-style-type: none;
}
ul li:before {
	content: "- ";
	position: absolute;
    left: 0px;
}
ul li {
    position: relative;
    padding: 0 0 0 10px;
}

section {
	margin: 0;
	padding: 10px 30px;
}
section:last-child {
	margin-bottom: 10px;
}

span.username {
	font-weight: bold;
}

span.public {
	font-size: 9px;
	font-style: italic;
	vertical-align: super;
}

a, a:visited {
	color: #a00;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #000 !important;
}
